body {
  font-family: Verdana; background-color: #507090;
}
header.menu {
  border: 5px groove green;
}
footer {
  text-align: center;
}
img {
  width: 100px; border: 3px groove teal;
}
main {
  margin: 200px; background-color: white;
}